@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    font-family: 'Playfair Display', serif;
}

h1 {
    text-align: center;
}

.actor-selection {
    text-align: center;
    font-size: 32px;
}

#actor-select {

    appearance: none;
    border-style: none;
    background-color: inherit;
    text-decoration: underline;
    color: black;
}

#actor-select:hover {
    color: black;
}




.script {
    text-align: center;
}