@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

h1 img {
    width: 48px;
}

.actor-selection {
    font-size: 32px;
}

#actor-select {


    appearance: none;
    background-color: inherit;
    border-style: none;
    color: maroon;
    text-align: center;
}

#actor-select:hover {
    color: maroon;
}




.script {
    width: fit-content;
    margin: 0 auto;
}

.stanza-title {}

.stanza {}